html{
    background-image: url(../resources/water.gif);
    background-size: 2000px 10000px;
    background-position: center;
}

p, a, h1, h2 {
    text-shadow:1px 1px black;
}

header{
    max-width: 100%;
    align-content: center;
}

header nav{
    align-content: center;
}

header li {
    display: inline-block;
}

header a {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: white;
}

#outnow, #outnow2 {
    align-content: center;
    font-family: 'Roboto Mono', monospace;
    color :white;
    font-size: 10vw;
    text-align:center;
    size: auto;
    max-width: 100%;
}

#outnow img, #outnow2 img {
    filter: drop-shadow(5px 5px 5px black);
    max-width: 100%;
    width: 80vw;
}

#listen, #listen2 {
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    max-width: 100%;
    size: auto;
}

#listen ul, #listen2 ul {
    align-content: center;
    text-align: center;
    max-width: 100%;
    size: auto;
    list-style-type: none;
    padding: 0;
}

#listen a, #listen2 a {
    color: white;
}

#listen span, #listen2 span{
    font-family: 'Roboto Mono', monospace;
    color :white;
    font-size: 20px;
    align-content: center;
    text-align: center;
}